@model PagedList.IPagedList<HelenaGerber_Promo.Models.HGStore.Product>
@using System.Linq.Expressions
@using HelenaGerber_Promo.Models.HGStore
@using PagedList.Mvc
@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-lg btn-success">Learn more &raquo;</a></p>
</div>

@for (int i = 0; i < Model.Count; i += 3) {
    <div class="row">
        @{
            Product p1 = Model[i];
            <div class="col-md-4">
                <div style="text-align: center;">
                    <h2>@p1.Name</h2>
                    <a href="@Url.Action("BowTie", "Catalog", new { p1.Name })">
                        <img class="product-image" src="@Url.Action("Image", "Home", new { imagename = @p1.ImageStore.FileName1 })" />
                    </a>
                    <p>
                        @p1.Description
                    </p>
                    <p class="text-danger">
                        @Html.DisplayFor(p => p1.Price) руб.
                    </p>
                    <p><a class="btn btn-primary" href="@Url.Action("BowTie", "Catalog", new { p1.Name })">Посмотреть &raquo;</a></p>
                </div>
            </div>
            if (i + 1 < Model.Count) {
                Product p2 = Model[i + 1];
                <div class="col-md-4">
                    <div style="text-align: center;">
                        <h2>@p2.Name</h2>
                        <a href="@Url.Action("BowTie", "Catalog", new { p2.Name })">
                            <img class="product-image" src="@Url.Action("Image", "Home", new { imagename = @p2.ImageStore.FileName1 })" />
                        </a>
                        <p>
                            @p2.Description
                        </p>
                        <p class="text-danger">
                            @Html.DisplayFor(p => p2.Price) руб.
                        </p>
                        <p><a class="btn btn-primary" href="@Url.Action("BowTie", "Catalog", new { p2.Name })">Посмотреть &raquo;</a></p>
                    </div>
                </div>
            }
            if (i + 2 < Model.Count) {
                Product p3 = Model[i + 2];
                <div class="col-md-4">
                    <div style="text-align: center;">
                        <h2>@p3.Name</h2>
                        <a href="@Url.Action("BowTie", "Catalog", new { p3.Name })">
                            <img class="product-image" src="@Url.Action("Image", "Home", new { imagename = @p3.ImageStore.FileName1 })" />
                        </a>
                        <p>
                            @p3.Description
                        </p>
                        <p class="text-danger">
                            @Html.DisplayFor(p => p3.Price) руб.
                        </p>
                        <p><a class="btn btn-primary" href="@Url.Action("BowTie", "Catalog", new { p3.Name })">Посмотреть &raquo;</a></p>
                    </div>
                </div>
            }
        }
    </div>
}
<div>
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>