<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="body-wrapper">
            <div class="header-wrapper">
                <div class="content-wrapper">
                    <div class="float-left">
                        <p class="site-title">
                            <a href="~/">
                                <img src="~/Content/Images/logo.png" />
                            </a>
                        </p>
                    </div>
                    <div class="for-login">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </div>
                    <div>
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                                <li>@Html.ActionLink("Каталог", "Index", "Catalog")</li>
                                <li>@Html.ActionLink("Статьи", "Index", "Articles")</li>
                                <li>@Html.ActionLink("Доставка", "Index", "Shipping")</li>
                                <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="body-content-wrapper">
                @RenderSection("featured", required: false)
                <div class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </div>
            </div>
            
        </div>
        <div class="footer-wrapper">
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="footer-p">&copy; Разработка  - ProSardar</p>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>