@model HelenaGerber_Promo.Models.HGStore.Fabric

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fabric</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Material.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Сontents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сontents)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
