@model HelenaGerber_Promo.Models.HGStore.ImageStore

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ImageStore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
