@model HelenaGerber_Promo.Models.HGStore.ImageStore

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ImageStore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
